body {
    background-image: url("Extras/bg.jpg");
    background-color: #cccccc;
    background-size: 100%;
   }
   .fstPage {
    background-image:url("Extras/bg.jpg");
    background-size: 100%;
    background-size:cover;
}