body {
    background-image: url("Extras/background.jpg");
    background-color: rgba(red, green, blue, alpha);
    background-size: 100%;
   }
   .fstPage {
    background-image:url("Extras/background.jpg");
    background-size: 100%;
    background-size:cover;
}