body {
    background-image: url("Extras/background.jpg");
    background-color: #cccccc;
    background-size: 100%;
   }
   .fstPage {
    background-image:url("Extras/TXT\ BG.jpg");
    background-size: 15%;
    background-size:cover;
}
    .fstPage {
    background-image:url("Extras/background.jpg");
    background-size: 15%;
    background-size:cover;
}